@model UI.ViewModels.LogInModel

@{
    ViewBag.Title = Internationalization.Resources.SignIn;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Internationalization.Resources.SignIn</h2>
<p>
    @Internationalization.Resources.LoginInfo @Html.ActionLink(Internationalization.Resources.Register, "Register").
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Internationalization.Resources.Account</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PassWord)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PassWord)
            @Html.ValidationMessageFor(model => model.PassWord)
        </div>

        <p>
            <input type="submit" value="@Internationalization.Resources.SignIn" />
        </p>
    </fieldset>
}
